<%= form_for :article, url: articles_path do |f| %> 

	<% if @article.errors.any? %> 
		<h2><%= pluralize(@article.errors.count, "errors")  %> 
		prohibited the article being saved </h2>  
	
		<ul> 
			<% @article.errors.full_messages.each do |msg| %> 
				<li> <%= msg %> </li>
			<% end %>
		</ul>   
	<% end %>
	
	
	<p> 
		<%= f.label :title  %> 
		<%= f.text_field :title %> 
	</p> 
	
	<p>
	<%= f.label :body %>
	<%= f.text_area :body %> 
	</p>
	
	<%= f.submit %>
<% end %> 

<%= Math::cos(2) %>

<%= link_to "Back", articles_path %>
